@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

@media screen and (max-width:1300px) {
    body{
        overflow-x: hidden;
    }
}

@media screen and (min-width:500px) and (max-width:1000px) {
     .unique{
        margin-right: 40px;
     }
}